@{
    Layout = "~/Views/Shared/Layout_Alumno.cshtml";
}

<link rel="stylesheet" href="~/Content/menuEncargadoStyle.css">

<!--INICIO BIENVENIDA -->
<div class="jumbotron">
    <p>
        <center> <h2>  <b> ¡Bienvenido Alumno!</b> </h2></center>
    </p>

</div>
<!--FIN BIENVENIDA-->
<!--INICIO CARD 1-->
<div class="contenedor-menu">
    <div class="card-menu-encargado">
        <a href="@Url.Action("EstadoSolicitudesAlumno", "alumno")" class="enlace-tarjeta">
            <div class="overlay">
                <h2 class="titulo">Horarios</h2>
            </div>
            <img src="~/Resources/Menu_encargado/asesorias-encargado.jpg" alt="cheetah" />
            <div class="tooltip">
                <p>Texto del Tooltip</p>
            </div>
        </a>
    </div>


    <!--FIN CARD 1-->
    <!--INICIO CARD 2-->
    <div class="card-menu-encargado">
        <a href="@Url.Action("ConsultaAsesoria", "alumno")" class="enlace-tarjeta">
            <div class="overlay">
                <h2 class="titulo">Asesorías</h2>
            </div>
            <img src="~/Resources/Menu_encargado/asesores-encargado.png" alt="cheetah" />
        </a>
    </div>

    <!--FIN CARD 2-->
    <!--INICIO CARD 3-->
    <div class="card-menu-encargado">
        <a href="@Url.Action("EvaluacionAlumno", "alumno")" class="enlace-tarjeta">
            <div class="overlay">
                <h2 class="titulo">Evaluaciones</h2>
            </div>
            <img src="~/Resources/Menu_encargado/reportes-encargado.jpg" alt="cheetah" />
    </div>

    <!--FIN CARD 3-->
</div>


