@{
    Layout = "~/Views/Shared/Layout_Encargado.cshtml";
}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes de Asesorias</title>
    <link rel="stylesheet" type="text/css" href="~/Content/reportes.css">
</head>


<body>
    <h2><b>Generar Reportes de Asesorias</b></h2>
    <div class="cuadro">
        <p>Texto dentro del recuadro</p>
    </div>
</body>


</html>
