body {
    font-family: Arial, sans-serif;
    margin: 15px;
    margin-left: 160px;
    background-color: #fff;
}


#myInput {
    margin: 9px;
}



.tab-pane {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}


.nav-tabs a.active {
    background-color: #f1b034;
    font-weight: bold;
}

.botones{
    margin-left:200px;
}